<!DOCTYPE html>
<html lang="en">
  <title>Phoenix Machine</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}
  </style>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <body>

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/main" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
      <a href="/scrapping_index" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">스크래핑 통계</a>
      <a href="/machine_index" class="w3-bar-item w3-button w3-padding-large w3-white">머신러닝 통계</a>
      <a href="/service_index" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">기타</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="/scrapping_index" class="w3-bar-item w3-button w3-padding-large">스크래핑 통계</a>
      <a href="/machine_index" class="w3-bar-item w3-button w3-padding-large">머신러닝 통계</a>
      <a href="/service_index" class="w3-bar-item w3-button w3-padding-large">기타</a>
    </div>
  </div>

    <!-- Header -->
  <header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">MachineLearning Page</h1>
  </header>

    <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>머신러닝 데이터 표시</h1>
        <p class="w3-text-grey">데이터 표(삽입예정)</p>

        <div id="myPlot1" style="width:100%;max-width:700px"></div>
        <script>
        var xArray = ["Male", "Female"];
        var yArray = [196, 204];

        var data = [{
          x:xArray,
          y:yArray,
          type:"bar"
        }];

        var layout = {title:"Gender"};

        Plotly.newPlot("myPlot1", data, layout);
        </script>

        <div id="myPlot2" style="width:100%;max-width:700px"></div>
        <script>
        var xArray = ['Teenagers', 'Twenties', 'Thirties', 'Fouries', 'Fifties', 'Sixties'];
        var yArray = [12, 88, 138, 109, 46, 7];

        var layout = {title:"Age"};

        var data = [{labels:xArray, values:yArray, type:"pie"}];

        Plotly.newPlot("myPlot2", data, layout);
        </script>

        <div id="myPlot3" style="width:100%;max-width:700px"></div>
        <script>
        var xArray = [50,60,70,80,90,100,110,120,130,140,150];
        var yArray = [7,8,8,9,9,9,10,11,14,14,15];

        // Define Data
        var data = [{
          x:xArray,
          y:yArray,
          mode:"markers"
        }];

        // Define Layout
        var layout = {
          xaxis: {range: [40, 160], title: "Square Meters"},
          yaxis: {range: [5, 16], title: "Price in Millions"},
          title: "Estimated Salary"
        };

        // Display using Plotly
        Plotly.newPlot("myPlot3", data, layout);
        </script>

      </div>
<!--      <div class="w3-third w3-center">-->
<!--        <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>-->
<!--      </div>-->
    </div>
  </div>

  </body>
</html>